<div class="qld-inpage-nav">

    <h2 class="nav-title">On this page</h2>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#section-heading">Section heading</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#content-heading">Content heading</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#inspection">Pre-registration inspection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#fees-and-charges">Fees and charges</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#related-services">Related services</a>
        </li>
    </ul>

</div>