$pagination-padding-y:              0.5rem;
$pagination-padding-x:              1rem;
$pagination-padding-y-sm:           1rem;
$pagination-padding-x-sm:           1rem;
$pagination-padding-y-lg:           1rem;
$pagination-padding-x-lg:           1rem;

$pagination-font-size:              $font-size-base;

$pagination-color:                  var(--#{$prefix}link-color);
$pagination-bg:                     var(--#{$prefix}body-bg);
$pagination-border-radius:          var(--#{$prefix}border-radius);
$pagination-border-width:           var(--#{$prefix}border-width);
$pagination-margin-start:           calc(#{$pagination-border-width} * -1); // stylelint-disable-line function-disallowed-list
$pagination-border-color:           #7A7A7A;

$pagination-focus-color:            var(--#{$prefix}link-hover-color);
$pagination-focus-bg:               var(--#{$prefix}secondary-bg);
$pagination-focus-box-shadow:       $focus-ring-box-shadow;
$pagination-focus-outline:          0;

$pagination-hover-color:            $primary;
$pagination-hover-bg:               #FFF;
$pagination-hover-border-color:     $qld-dark-green; // Todo in v6: remove this?

$pagination-active-color:           #FFF;
$pagination-active-bg:              $primary;
$pagination-active-border-color:    $primary;

$pagination-disabled-color:         var(--#{$prefix}secondary-color);
$pagination-disabled-bg:            var(--#{$prefix}secondary-bg);
$pagination-disabled-border-color:  var(--#{$prefix}border-color);

$pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$pagination-border-radius-sm:       0.25rem;
$pagination-border-radius-lg:       0.25rem;