//Alerts: https://getbootstrap.com/docs/5.3/components/alerts/#variables
$alert-padding-y:               1.5rem;
$alert-padding-x:               1.5rem;
$alert-margin-bottom:           1rem;
$alert-border-radius:           0.25rem;
$alert-link-font-weight:        600;
$alert-border-width:            2px;
$alert-dismissible-padding-r:   $alert-padding-x * 3; // 3x covers width of x plus default padding on either side
