//Tables: https://getbootstrap.com/docs/5.3/content/tables/#sass-variables
$table-cell-padding-y:        .75rem;
$table-cell-padding-x:        .75rem;
$table-cell-padding-y-sm:     .5rem;
$table-cell-padding-x-sm:     .5rem;

$table-cell-vertical-align:   top;

$table-color:                 $body-color; //var(--#{$prefix}body-color);
$table-striped-color:         $body-color;

$table-th-font-weight:        600;

$table-striped-bg-factor:     0;
$table-striped-bg:            $qld-extra-light-grey;
$table-accent-bg:             transparent;

$table-active-color:          $body-color;
$table-active-bg-factor:      .1;
$table-active-bg:             $qld-light-grey; //rgba($black, $table-active-bg-factor);

$table-hover-color:           $table-color;
$table-hover-bg-factor:       .075;
$table-hover-bg:              $qld-medium-grey; //rgba($black, $table-hover-bg-factor);

$table-border-factor:         .1;
$table-border-width:          1px;
$table-border-color:          $qld-light-grey;

$table-striped-order:         even;
$table-striped-columns-order: even;

$table-group-separator-color: currentcolor;
$table-caption-color:         $headings-color;