//Breadcrumbs: https://getbootstrap.com/docs/5.3/components/breadcrumb/#sass-variables
$breadcrumb-font-size:              1rem;
$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding-x:         .75rem;
$breadcrumb-margin-bottom:          1rem;
$breadcrumb-bg:                     null;
$breadcrumb-divider-color:          $qld-dark-green;
$breadcrumb-active-color:           #636363;
$breadcrumb-divider:                quote(">");
$breadcrumb-divider-flipped:        $breadcrumb-divider;
$breadcrumb-border-radius:          null;