
header {

    --pagetop-icon-color: var(--qld-golden-yellow);
    --pagetop-bg-color: var(--qld-sapphire-blue);
    --pagetop-text-color: var(--qld-white);
    --site-logo-color: var(--qld-system-darkest);


    //Dark theme
    @media (prefers-color-scheme: dark) {
        --pagetop-icon-color: var(--qld-golden-yellow);
        --pagetop-bg-color:   var(--qld-text-grey);
        --pagetop-text-color: var(--qld-white);
        --site-logo-color: var(--qld-white);
    }
    

    .pagetop {
        
        padding: 0.5rem 0;
        margin: 0;
        background: var(--pagetop-bg-color);

        .pagetop-tag {
            display: flex;
            color: var(--pagetop-text-color); 
            align-items: center;
            font-size: 0.875rem;
        }

        .qld-icon {
            margin-right: 0.25rem;
            background-color: var(--pagetop-icon-color);
        }

    }

    .header-main {
        display: flex;
        padding: 2rem 0;
    }

    .header-site-logo {
        margin-right: 1.5rem;

        svg path {
            fill: var(--site-logo-color);
        }
    }


    .header-site-name {
        padding-left: 1.5rem;
        border-left: 2px solid var(--qld-light-green);
        font-size: 1.25rem;
        font-weight: 600;
        font-family: 'Fira Sans', 'Noto Sans', sans-serif;
        line-height: 56px;
    }

}