<style type="text/css" data-vite-dev-id="/Users/steve-qgov/projects/vite-bootstrap/src/scss/styles.scss">@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");
:root,
[data-bs-theme=light] {
  --qld-blue: #0d6efd;
  --qld-indigo: #6610f2;
  --qld-purple: #6f42c1;
  --qld-pink: #d63384;
  --qld-red: #dc3545;
  --qld-orange: #fd7e14;
  --qld-yellow: #ffc107;
  --qld-green: #198754;
  --qld-teal: #20c997;
  --qld-cyan: #0dcaf0;
  --qld-black: #000;
  --qld-white: #fff;
  --qld-gray: #6c757d;
  --qld-gray-dark: #343a40;
  --qld-gray-100: #f8f9fa;
  --qld-gray-200: #e9ecef;
  --qld-gray-300: #dee2e6;
  --qld-gray-400: #ced4da;
  --qld-gray-500: #adb5bd;
  --qld-gray-600: #6c757d;
  --qld-gray-700: #495057;
  --qld-gray-800: #343a40;
  --qld-gray-900: #212529;
  --qld-primary: #09549F;
  --qld-secondary: #008635;
  --qld-success: #339D37;
  --qld-info: #0085B3;
  --qld-warning: #FFCC2C;
  --qld-danger: #E22339;
  --qld-light: #F4F4F4;
  --qld-dark: #595959;
  --qld-dark-blue: #05325F;
  --qld-sapphire-blue: #09549F;
  --qld-light-blue: #0085B3;
  --qld-light-green: #6BBE27;
  --qld-dark-green: #008635;
  --qld-golden-yellow: #FFE500;
  --qld-system-darkest: #1D1D1D;
  --qld-text-grey: #414141;
  --qld-dark-grey: #595959;
  --qld-medium-grey: #78797E;
  --qld-grey: #E0E0E0;
  --qld-light-grey: #EBEBEB;
  --qld-extra-light-grey: #F4F4F4;
  --qld-white: #FFFFFF;
  --qld-white-underline: rgba(255, 255, 255, 0.72);
  --qld-dark-underline: rgba(3, 33, 63, 0.72);
  --qld-maroon-traditional: #771E32;
  --qld-maroon-modern: #A70240;
  --qld-notify-warning: #E22339;
  --qld-notify-information: #0085B3;
  --qld-notify-success: #339D37;
  --qld-notify-alert: #FFCC2C;
  --qld-syntax-values: #6BBE27;
  --qld-syntax-elements: #A7E5FF;
  --qld-syntax-properties: #C88DF7;
  --qld-syntax-comments: #C0D7EC;
  --qld-primary-dark: #05325F;
  --qld-primary-rgb: 9, 84, 159;
  --qld-secondary-rgb: 0, 134, 53;
  --qld-success-rgb: 51, 157, 55;
  --qld-info-rgb: 0, 133, 179;
  --qld-warning-rgb: 255, 204, 44;
  --qld-danger-rgb: 226, 35, 57;
  --qld-light-rgb: 244, 244, 244;
  --qld-dark-rgb: 89, 89, 89;
  --qld-dark-blue-rgb: 5, 50, 95;
  --qld-sapphire-blue-rgb: 9, 84, 159;
  --qld-light-blue-rgb: 0, 133, 179;
  --qld-light-green-rgb: 107, 190, 39;
  --qld-dark-green-rgb: 0, 134, 53;
  --qld-golden-yellow-rgb: 255, 229, 0;
  --qld-system-darkest-rgb: 29, 29, 29;
  --qld-text-grey-rgb: 65, 65, 65;
  --qld-dark-grey-rgb: 89, 89, 89;
  --qld-medium-grey-rgb: 120, 121, 126;
  --qld-grey-rgb: 224, 224, 224;
  --qld-light-grey-rgb: 235, 235, 235;
  --qld-extra-light-grey-rgb: 244, 244, 244;
  --qld-white-rgb: 255, 255, 255;
  --qld-white-underline-rgb: 255, 255, 255;
  --qld-dark-underline-rgb: 3, 33, 63;
  --qld-maroon-traditional-rgb: 119, 30, 50;
  --qld-maroon-modern-rgb: 167, 2, 64;
  --qld-notify-warning-rgb: 226, 35, 57;
  --qld-notify-information-rgb: 0, 133, 179;
  --qld-notify-success-rgb: 51, 157, 55;
  --qld-notify-alert-rgb: 255, 204, 44;
  --qld-syntax-values-rgb: 107, 190, 39;
  --qld-syntax-elements-rgb: 167, 229, 255;
  --qld-syntax-properties-rgb: 200, 141, 247;
  --qld-syntax-comments-rgb: 192, 215, 236;
  --qld-primary-dark-rgb: 5, 50, 95;
  --qld-primary-text-emphasis: #052c65;
  --qld-secondary-text-emphasis: #2b2f32;
  --qld-success-text-emphasis: #0a3622;
  --qld-info-text-emphasis: #055160;
  --qld-warning-text-emphasis: #664d03;
  --qld-danger-text-emphasis: #58151c;
  --qld-light-text-emphasis: #495057;
  --qld-dark-text-emphasis: #495057;
  --qld-primary-bg-subtle: #cfe2ff;
  --qld-secondary-bg-subtle: #e2e3e5;
  --qld-success-bg-subtle: #d1e7dd;
  --qld-info-bg-subtle: #cff4fc;
  --qld-warning-bg-subtle: #fff3cd;
  --qld-danger-bg-subtle: #f8d7da;
  --qld-light-bg-subtle: #fcfcfd;
  --qld-dark-bg-subtle: #ced4da;
  --qld-primary-border-subtle: #9ec5fe;
  --qld-secondary-border-subtle: #c4c8cb;
  --qld-success-border-subtle: #a3cfbb;
  --qld-info-border-subtle: #9eeaf9;
  --qld-warning-border-subtle: #ffe69c;
  --qld-danger-border-subtle: #f1aeb5;
  --qld-light-border-subtle: #e9ecef;
  --qld-dark-border-subtle: #adb5bd;
  --qld-white-rgb: 255, 255, 255;
  --qld-black-rgb: 0, 0, 0;
  --qld-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --qld-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --qld-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --qld-body-font-family: var(--qld-font-sans-serif);
  --qld-body-font-size: 1rem;
  --qld-body-font-weight: 400;
  --qld-body-line-height: 1.5;
  --qld-body-color: #414141;
  --qld-body-color-rgb: 65, 65, 65;
  --qld-body-bg: #fff;
  --qld-body-bg-rgb: 255, 255, 255;
  --qld-emphasis-color: #000;
  --qld-emphasis-color-rgb: 0, 0, 0;
  --qld-secondary-color: rgba(33, 37, 41, 0.75);
  --qld-secondary-color-rgb: 33, 37, 41;
  --qld-secondary-bg: #e9ecef;
  --qld-secondary-bg-rgb: 233, 236, 239;
  --qld-tertiary-color: rgba(33, 37, 41, 0.5);
  --qld-tertiary-color-rgb: 33, 37, 41;
  --qld-tertiary-bg: #f8f9fa;
  --qld-tertiary-bg-rgb: 248, 249, 250;
  --qld-heading-color: #03213F;
  --qld-link-color: #0d6efd;
  --qld-link-color-rgb: 13, 110, 253;
  --qld-link-decoration: underline;
  --qld-link-hover-color: #0a58ca;
  --qld-link-hover-color-rgb: 10, 88, 202;
  --qld-code-color: #d63384;
  --qld-highlight-bg: #fff3cd;
  --qld-border-width: 1px;
  --qld-border-style: solid;
  --qld-border-color: #dee2e6;
  --qld-border-color-translucent: rgba(0, 0, 0, 0.175);
  --qld-border-radius: 0.375rem;
  --qld-border-radius-sm: 0.25rem;
  --qld-border-radius-lg: 0.5rem;
  --qld-border-radius-xl: 1rem;
  --qld-border-radius-xxl: 2rem;
  --qld-border-radius-2xl: var(--qld-border-radius-xxl);
  --qld-border-radius-pill: 50rem;
  --qld-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --qld-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --qld-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --qld-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --qld-focus-ring-width: 0.25rem;
  --qld-focus-ring-opacity: 0.25;
  --qld-focus-ring-color: rgba(13, 110, 253, 0.25);
  --qld-form-valid-color: #198754;
  --qld-form-valid-border-color: #198754;
  --qld-form-invalid-color: #dc3545;
  --qld-form-invalid-border-color: #dc3545;
}
[data-bs-theme=dark] {
  color-scheme: dark;
  --qld-body-color: #dee2e6;
  --qld-body-color-rgb: 222, 226, 230;
  --qld-body-bg: $qld-sapphire-blue;
  --qld-body-bg-rgb: 33, 37, 41;
  --qld-emphasis-color: #fff;
  --qld-emphasis-color-rgb: 255, 255, 255;
  --qld-secondary-color: rgba(222, 226, 230, 0.75);
  --qld-secondary-color-rgb: 222, 226, 230;
  --qld-secondary-bg: #343a40;
  --qld-secondary-bg-rgb: 52, 58, 64;
  --qld-tertiary-color: rgba(222, 226, 230, 0.5);
  --qld-tertiary-color-rgb: 222, 226, 230;
  --qld-tertiary-bg: #2b3035;
  --qld-tertiary-bg-rgb: 43, 48, 53;
  --qld-primary-text-emphasis: #6ea8fe;
  --qld-secondary-text-emphasis: #a7acb1;
  --qld-success-text-emphasis: #75b798;
  --qld-info-text-emphasis: #6edff6;
  --qld-warning-text-emphasis: #ffda6a;
  --qld-danger-text-emphasis: #ea868f;
  --qld-light-text-emphasis: #f8f9fa;
  --qld-dark-text-emphasis: #dee2e6;
  --qld-primary-bg-subtle: #031633;
  --qld-secondary-bg-subtle: #161719;
  --qld-success-bg-subtle: #051b11;
  --qld-info-bg-subtle: #032830;
  --qld-warning-bg-subtle: #332701;
  --qld-danger-bg-subtle: #2c0b0e;
  --qld-light-bg-subtle: #343a40;
  --qld-dark-bg-subtle: #1a1d20;
  --qld-primary-border-subtle: #084298;
  --qld-secondary-border-subtle: #41464b;
  --qld-success-border-subtle: #0f5132;
  --qld-info-border-subtle: #087990;
  --qld-warning-border-subtle: #997404;
  --qld-danger-border-subtle: #842029;
  --qld-light-border-subtle: #495057;
  --qld-dark-border-subtle: #343a40;
  --qld-heading-color: inherit;
  --qld-link-color: #6ea8fe;
  --qld-link-hover-color: #8bb9fe;
  --qld-link-color-rgb: 110, 168, 254;
  --qld-link-hover-color-rgb: 139, 185, 254;
  --qld-code-color: #e685b5;
  --qld-border-color: #495057;
  --qld-border-color-translucent: rgba(255, 255, 255, 0.15);
  --qld-form-valid-color: #75b798;
  --qld-form-valid-border-color: #75b798;
  --qld-form-invalid-color: #ea868f;
  --qld-form-invalid-border-color: #ea868f;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--qld-body-font-family);
  font-size: var(--qld-body-font-size);
  font-weight: var(--qld-body-font-weight);
  line-height: var(--qld-body-line-height);
  color: var(--qld-body-color);
  text-align: var(--qld-body-text-align);
  background-color: var(--qld-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--qld-border-width) solid;
  opacity: 0.25;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 2;
  color: var(--qld-heading-color);
}
h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}
h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}
h3, .h3 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.5rem;
  }
}
h4, .h4 {
  font-size: 1.25rem;
}
h5, .h5 {
  font-size: 1rem 1;
}
h6, .h6 {
  font-size: 0.875rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul {
  padding-left: 2rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
…</style>