// Variables
.qld-banner {
    --#{$prefix}banner-bg: var(--#{$prefix}light-grey);
}

@include color-mode(dark) {
    .qld-banner {
        // Inherits from :root dark mode variables, but can be overridden here.
        --#{$prefix}banner-bg: var(--#{$prefix}brand-primary-dark);
        --#{$prefix}banner-title-color: var(--qld-headings-color);
        --#{$prefix}banner-lead-color: var(--qld-body-color);
    }
}


// Component
.qld-banner {
    
    background: var(--#{$prefix}banner-bg);
    padding: 1rem 0 2rem 0;

    @include media-breakpoint-up(md) { 
        padding: 2.5rem 0 3rem 0;
    }

    .banner-title {

        // H1: 
        // Line height (3.25rem or 52px).
        // Font-size (2.5rem or 40px). 
        // Therefor LH = 52/40 = 1.3
        line-height: 1.3;          
        color: var(--#{$prefix}banner-title-color);
        margin-bottom: 1.5rem;
    }

    .banner-lead {
        font-size: 1.5rem;
        line-height: 2rem;
        max-width: 50rem;
        color: var(--#{$prefix}banner-lead-color);
    }
}

